header{

}
/*Aquí estamos definiendo todo lo de la barra de navegación*/

.menu-pag{
  width: 100%;
  background-color: #022F09 ;
  padding:10px 0px;
  position: sticky;
  top: 0;
  /*align-items: center;*/
}

.menu-pag div{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0px;
  justify-content: flex-end;

}


nav div a{
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  background-color:red;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
}
